NODES_INFO='[{
    "url": "http://node.brightid.org/brightid/v6/state",
    "profile_service_url": "http://node.brightid.org/profile"
}, {
    "url": "http://brightid.idealmoney.xyz/brightid/v6/state",
    "profile_service_url": "http://brightid.idealmoney.xyz/profile"
}, {
    "url": "http://brightid.siftal.top/brightid/v6/state",
    "profile_service_url": "http://brightid.siftal.top/profile"
}, {
    "url": "https://brightid.59836e71dd6e5898.dyndns.dappnode.io/brightid/v6/state",
    "profile_service_url": "https://brightid.59836e71dd6e5898.dyndns.dappnode.io/profile"
}, {
    "url": "https://aura-node.brightid.org/brightid/v6/state",
    "profile_service_url": "https://aura-node.brightid.org/profile"
}, {
    "url": "https://aura-test.brightid.org/brightid/v6/state",
    "profile_service_url": "https://aura-test.brightid.org/profile"
}]'

NODE_ONE_URL=http://node.brightid.org/brightid/v6
NODE_ONE_ETH_SIGNER=0xb1d71f62bee34e9fc349234c201090c33bcdf6db
RECOVERY_SERVICE_URL=https://recovery.brightid.org/backups/immutable/zGpTMRpX8pMV3ACoVRvv8HrbEHyKI1Twjd9Oi4XL7t8
BACKUPS_SERVICE_URL=http://storage.googleapis.com/brightid-backups/
IDCHAIN_RPC_URL=https://idchain.one/rpc/
RECEIVER_BORDER=24
SCORER_BORDER=480
BALANCE_BORDER=5
BACKUP_BORDER=5400
SNAPSHOT_PERIOD=240
SPONSORSHIPS_UPDATE_BORDER = 48
APPS_UPDATE_BORDER = 240
SEED_GROUPS_UPDATE_BORDER = 240
CHECK_INTERVAL=20
MAX_MSG_INTERVAL=86400
MIN_MSG_INTERVAL=3600
MAX_RETRIES=2
REDIS_HOST=redis_brightid_alert
REDIS_PORT=6379
WATCHDOG_THRESHOLD=600
KEYBASE_BOT_KEY=your_keybase_paper_key
KEYBASE_BOT_USERNAME=your_keybase_username
KEYBASE_BOT_CHANNEL=your_keybase_channel
TELEGRAM_BOT_KEY=your_telegram_key
TELEGRAM_BOT_CHANNEL=your_telegram_channel